<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%X{requestId:-n/a}] [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/customer-service.log"
                     filePattern="logs/customer-service-%d{yyyy-MM-dd}-%i.log.gz">

            <!--FOR DEVELOPER CONVENIENCE Console as human-readable pattern using PatternLayout tags-->
            <PatternLayout pattern="%d{ISO8601} [%X{requestId:-n/a}] [%t] %-5level %logger{36} - %msg%n"/>

            <!-- If you want JSON structure logs (RECOMMENDED FOR PRODUCTION),
            replace `PatternLayout` with `JsonLayout` tags for file appender: -->
            <!-- JsonLayout eventEol="true" compact="false" includeStacktrace="true"/ -->

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="INFO"/>
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="io.github.resilience4j" level="INFO"/>
        <Logger name="com.murali" level="DEBUG"/>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>